form {
  width: 500px;
  margin: 30px auto;
  text-align: center;
}

form input {
  margin-bottom: 5x;
}

form input[type='button']{
  margin-right: 10px;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
  border: 2px solid rgb(140 140 140);
  font:
    16px "Open Sans",
    Helvetica,
    Arial,
    sans-serif;
}
